header {
    background-color: lightgray;
    text-align: center;
}
header > h1 {
    font-size: 24px;
}
#container > {
    border: 1px solid black;
    padding: 20px;  
}
#container > p {
    color: blue;
}
#container > ul {
    color: green;
}
#sample-image {
    border-radius: 5px;
    height: auto;
    width: 300px;
}
#sample-image {
    border: 2px solid red;
}
div > p {
    background-color: yellow;
}
.list-items {
    font-weight: bold;
}
#container {
    background-color: lightgray;
}
#container > p + ul {
    color: rgb(251, 1, 251);
} 